body {
    background-color: yellow;
}
h1 {
    color: blue;
    background-color: cornsilk;
}
#show_sketch {
    float: right;
}
canvas {
    border: 5px solid white;
    border-radius: 20px;
    animation-duration: 4s;
    animation-name: example;
    animation-iteration-count: infinite;
    margin-top: 50px;
}

@keyframes example {
    from{box-shadow: 1px 1px 30px grey;}
    to{box-shadow: 1px 1px 30px white;}
    
}